
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tim's Weather Station page</title>
    <link rel="apple-touch-icon" href="static/img/iphone-icon.png" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/sticky-footer-navbar.css" rel="stylesheet">
    <link href="static/css/rickshaw.min.css" rel="stylesheet">
  </head>


  <body>

    <div id="wrap">

      <div class="navbar navbar-fixed-top">
        <div class="container">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Tim's Weather</a>
          <div class="nav-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Blog</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <!-- Begin page content -->
      <div class="container">
        <div class="page-header">
          <h2>Current <small>(Russia, Moscow)</small></h2>
        </div>
          <div class="row">
             <div class="col-lg-2">
                <div>Temperature</div><div id="temp">N/A</div>
             </div>
             <div class="col-lg-2">
                <div>Pressure</div><div id="pressure">N/A</div>
             </div>
             <div class="col-lg-2">
                <div>Humidity</div><div id="humidity">N/A</div>
             </div>
             <div class="col-lg-2">
                <div>Temperature indoor</div><div id="indoor_temp">N/A</div>
             </div>
             <div class="col-lg-2">
                <div>Humidity indoor</div><div id="indoor_humidity">N/A</div>
             </div>
             <div class="col-lg-2">
                <div>Time (UTC)</div><div id="time">N/A</div>
             </div>
          </div>
          <div class="visible-lg">
            <h2>History</h2>
            <svg id="exampleOne" style="height:320px"></svg>
          </div>
      </div>
    </div>

    <div id="footer hidden-sm">
      <div class="container hidden-sm">
        <p class="text-muted credit">You can grab the source code of my weather station <a href="http://github.com/timson81">My Github</a>.</p>
      </div>
    </div>

    <script src="static/js/d3.v2.js"></script>
    <script src="static/js/rickshaw.min.js"></script>
    <script src="static/js/stream_layers.js"></script>   
    <script type="text/javascript" src="static/js/socket.io.js"></script>
    <script src="static/js/index.js"></script>
  </body>
</html>